<div id="footerwrap">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <h4>About</h4>
                <div class="hline-w"></div>
                <p>{{ site.about }}</p>
            </div>
            <div class="col-lg-4">
                <h4>Open Source on GitHub</h4>
                <div class="hline-w"></div>
                <a href="https://github.com/GExperts/gexperts">
                <p>
                    Find GExperts' sources on GitHub. We love pull requests!
                </p>
                <img src="{{ site.baseurl }}/assets/img/github-logo.png" style="width: 100px; heigth: auto;"></a>
                <div style="height:2em;"></div>
            </div>
            <div class="col-lg-4">
                <h4>Contact</h4>
                <div class="hline-w"></div>
                <p>
                    {% for line in site.address.first.lines %}
                        {{ line }} <br>
                    {% endfor %}
                </p>
            </div>
        </div><! --/row -->
    </div><! --/container -->
</div><! --/footerwrap -->